$primary-background-color: hsla(0, 0%, 0%, 0.938);
$primary-color: hsl(30, 100%, 50%);
$secondary-color: hsl(30, 100%, 30%);
$light-color-for-table: hsl(28, 93%, 72%);
$dark-color-for-table: hsla(0, 0%, 0%, 0.938);
